body {
    font-family: sans-serif;
    background-color: rgb(233, 230, 230);
}

.parent-container {
    /* border: 2px solid firebrick; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .header-image-container {
        /* border: 2px solid black; */
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 1em; */
    }

        /* #main-header {
            border: 2px solid saddlebrown;
        } */

        #dish-image {
            /* margin: 1em 0 0; */
            border-radius: 0.3em;
        }

        #decsription {
            /* margin: 0; */
            /* border: 2px solid saddlebrown; */
            width: 35em;
            text-align: center;
        }

    .ingredients-steps-container {
        /* border: 2px solid greenyellow; */
        padding: 0 4em;
        width: 50em;
        /* display: flex; */
    }

        .secondary-headers {
            /* border: 2px solid salmon; */
            padding: 0 0 0 2.2em;
        }

        .ingredients-container, .steps-container {
            /* border: 2px solid salmon; */
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

            li {
                line-height: 1.8;
            }

    .page-links-container {
        /* border: 2px solid salmon; */
        padding: 1em 0 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
