body {
    background-color: #659dbd;
    background-image: url(recipes/Images/new-vegetables-set-left-black-slate_1220-685.webp);
}

.recipe-link {
    margin: 10px 0 0 20px;
    padding: 5px;
    color: wheat;
    width: 250px;
    font-weight: bold;
    /* padding: 5px; */
}

h2 {
    /* text-indent: 25px; */
    margin: 50px 0 0 60px;
    /* box-sizing: border-box; */
    max-width: 300px;
    /* border: 3px solid; */
    padding: 5px 0;
    /* border-style:outset; */
    /* background-color: rgb(243, 244,246); */
    /* color: rgb(190, 24, 93); */
    /* color: #8ee4af; */
    color: #f15e50;
    }

.recipe-link, h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link, a:visited {
    color: #f15e50;
}